// ======== Company
.company {
  &__container {
    margin: 150px auto 150px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 21.5% 1fr 1fr;
    gap: 80px;

    @include maxW(1023px) {
      display: block;
      margin-top: 150px;
      margin-bottom: 120px;
      padding: 0 18px;
    }
  }

  &__left {
    h2 {
      margin-bottom: 30px;
      font-size: 2.1rem;
      line-height: 1.2;
      font-weight: 400;
    }

    @include maxW(1023px) {
      margin-bottom: 60px;

      h2 {
        margin-bottom: 15px;
        font-size: 1.8rem;
      }
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--times-fonts);

    p,
    span {
      cursor: pointer;
      font-size: 1.7rem;
      opacity: 0.3;
      transition: 0.15s linear;
      text-transform: uppercase;

      &.active {
        opacity: 1;
      }
    }

    @include maxW(1023px) {
      p,
      span {
        font-size: 1.6rem;
      }
    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;

    @include maxW(1023px) {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &__content {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: initial;
    }

    h3 {
      margin-bottom: initial;
    }

    p,
    a {
      font-size: 1.5rem;
      line-height: 1.7;
      font-feature-settings: "palt" 1;
    }

    a {
      text-decoration: underline;
      width: fit-content;
    }

    @include maxW(1023px) {
      margin-bottom: 60px;

      p,
      a {
        font-size: 1.3rem;
        letter-spacing: 0;
      }
    }
  }

  &__subtitle {
    margin-bottom: 25px;

    font-feature-settings: "palt" 1;

    @include maxW(1023px) {
      margin-bottom: 20px;

      p {
        font-size: 1.4rem;
      }
    }
  }

  &__member {
    @include maxW(1023px) {
      margin-bottom: 60px;
    }
  }
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
