// ======== Company
.company {
  &__container {
    margin-top: 250px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  &__left {
    h2 {
      margin-bottom: 30px;
      font-size: 2.1rem;
      letter-spacing: -0.42px;
      line-height: 1.2;
      font-weight: 400;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--times-fonts);

    p,
    span {
      cursor: pointer;
      font-size: 1.7rem;
      opacity: 0.3;
      transition: 0.15s linear;
      text-transform: uppercase;

      &.active {
        opacity: 1;
      }
    }
  }

  &__mission {
    // display: none;

    // &.active {
    //   display: block;
    // }
  }
}
