// ======== FRIST VIEW
.firstview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &__container {
    position: absolute;
    bottom: 25px;

    @include maxW(1023px) {
      bottom: 15px;
    }
  }

  &__heading {
    padding: 0 18px;

    h2 {
      font-family: var(--times-fonts);
      font-size: 3.3vw;
      letter-spacing: -0.7px;
      font-weight: 400;
      text-align: center;
      line-height: 1.1;
    }

    span {
      font-family: var(--sans-serif-fonts);
      font-size: 2.95vw;
    }
  }

  @include maxW(1023px) {
    &__heading {
      h2 {
        font-size: 2.8rem;
        text-align: left;
      }

      span {
        font-size: 2.4rem;
      }
    }
  }
}
