@import 'src/styles/imports/mixins';

.c-footer {
  padding: 25px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  align-items: baseline;

  a,
  p {
    font-size: 1.6rem;
    letter-spacing: -0.32px;
  }

  &__center {
    display: flex;
    justify-content: center;
  }

  &__right {
    text-align: right;
  }

  @include maxW(1023px) {
    padding: 15px 18px;
    display: block;
    gap: unset;

    a,
    p {
      font-size: 1.4rem;
      letter-spacing: 0;
    }

    &__left {
      display: none;
    }

    &__center {
      display: block;
      margin-bottom: 6px;
    }

    &__right {
      text-align: left;
    }
  }
}
