@import 'src/styles/imports/mixins';

.c-footer {
  padding: 0 30px 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  align-items: baseline;

  a,
  p {
    font-size: 1.6rem;
    width: fit-content;
  }

  &__center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__right {
    text-align: right;
    margin-left: auto;
  }

  @include maxW(1023px) {
    padding: 15px 18px;
    display: block;
    gap: unset;

    a,
    p {
      font-size: 1.3rem;
      letter-spacing: 0;
    }

    &__left {
      display: none;
    }

    &__center {
      display: block;
      margin: 0 0 7px;
    }

    &__right {
      text-align: left;
      margin-left: 0;
    }
  }
}
