@import 'src/styles/imports/mixins';

.footer {
  padding: 25px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;

  a,
  p {
    font-size: 1.6rem;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  text-align: right;
}

@include maxW(1023px) {
  .footer {
    padding: 18px;
    display: block;

    a,
    p {
      font-size: 1.4rem;
    }
  }

  .left {
    display: none;
  }

  .center {
    display: block;
    margin-bottom: 5px;
  }

  .right {
    text-align: left;
  }
}
